.card {
    margin-top: 10px;
}

.Limpiar{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2%;
}



mat-form-field {
    width: 100%;
    height: 80%;
    margin: 3px;
}

.btnAgregar {
    margin-right: 5px;
}

.example-form-field {
    margin-right: 20px;
}

table {
    width: 100%;
}

.delete {
    cursor: pointer;
    color: #E15639;
}

.edit {
    cursor: pointer;
    color: #1878B0;
}

.search {
    cursor: pointer;

}
table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

