
<!--<div class="title">
    <h1>Gestion de Pedidos</h1>
    <a class="enlace" href="/gestion/">Gestion Pedidos</a>
    <a class="enlace" href="/detalle/">detalles Pedido</a>

</div>-->

<mat-toolbar  color="primary"  class="mat-elevation-z8">
    <button  routerLink="" mat-icon-button>
        <mat-icon>home</mat-icon>
    </button>
    <span>TRINISTORE</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="">Login</button>
    <button mat-button routerLink="">Registros</button>
    <button mat-button routerLink="/gestion/">Orden</button>
    <button mat-button routerLink="">Envios</button>
</mat-toolbar>

